@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.mainContainer {
  background-color: rgb(22, 10, 48);
  font-family: "Audiowide", sans-serif;
  height: 100vh;
  color: whitesmoke;
}

.image {
  height: 100%;
}

.headerContainer {
  font-family: "Audiowide", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  color: white;
  height: 30%;
  border-radius: 0 50% 0 50%;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(270deg, #b3b3ae, #260757);
}

@keyframes animateBg {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.headerBtnTextContent {
  margin: 20px;
  margin-left: 0;
}

.headerText {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.startButton {
  color: white;
  background: linear-gradient(270deg, #340158, #bf37da, #0078f9, #fcb4b4);
  background-size: 500% 500%;
  animation: animateBg 5s ease-in-out infinite;

  width: 150px;
  height: 40px;

  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 3px 6px 9px rgba(174, 157, 200, 0.871);
  transition: transform 0.4s ease-in-out;
}

.quizSection {
  width: 100%;
  height: 70%;
  border-radius: 15px;
}

.quizHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.viewAllBtn {
  border-radius: 7px;
  width: 150px;
  height: 40px;
  color: white;
  background: linear-gradient(270deg, #340158, #bf37da, #0078f9, #fcb4b4);
  background-size: 500% 500%;
  animation: animateBg 5s ease-in-out infinite;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 6px 9px rgba(174, 157, 200, 0.871);
  transition: transform 0.4s ease-in-out;
}

.quizGrid {
  color: rgb(91, 90, 90);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  /* margin-top: 15px; */
  margin: 10px 50px;

  /* padding: 40px; */
}

.quiz-card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  /* box-shadow:  1px 4px 10px rgba(81, 79, 84, 0.871); */
  box-shadow: 4px 5px 9px rgba(174, 157, 200, 0.871);

  background: linear-gradient(270deg, #b3b3ae, #260757);
  color: white;

  /* box-shadow: 3px 6px 9px rgba(174, 157, 200, 0.871); */
  transition: transform 0.3s ease-in-out;
}

.startButton:hover,
.viewAllBtn:hover,
.quiz-card:hover {
  color: white;
  transform: translateY(-6px);
  background-color: rgba(164, 123, 247, 0.871);
  cursor: pointer;
}

.quiz-icon {
  font-size: 30px;
}

.quiz-name {
  margin-top: 5px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .header {
    grid-template-columns: 1fr;
    height: auto;
    padding: 15px;
  }

  .headerImage img {
    width: 50%;
    height: 50%;
  }

  .quiz-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .quiz-card {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    text-align: center;
    padding: 10px;
  }

  .headerText h1 {
    font-size: 24px;
  }

  .headerImage img {
    width: 80%;
  }

  .quiz-section {
    padding: 15px;
  }

  .quiz-grid {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .quiz-card {
    padding: 30px;
  }
}
